.About-Container {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-evenly;
}
.About-Title {
  letter-spacing: 0.5rem;
  font-size: 3rem;
  font-weight: bolder;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0rem;
}
.About-Society {
  font-size: 1.5rem;
  text-align: center;
  font-weight:400;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.Vision-Mission-Container {

   display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
 justify-content: space-around;
}
.About-Vision {
  width: 50%;
}
.About-Mission {
  width: 50%;
}

.Vision-Content,
.Mission-Content {
width: 50%;
justify-content: space-evenly;
display: flex;  
padding-top: 3rem ;
padding-bottom: 3rem;

}
.card{
  height: auto;
  width: 40vw;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0rem 0rem 1rem  black;

}
.Card-Title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 2rem;
  padding: 1rem;
}
.Card-Content{
  align-items: center;
  text-align: justify;
  display: flex;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}
hr{
  width: 80%;
  background-color: black;
  height: 3px;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  .Vision-Mission-Container {
    flex-direction: column;
    display: flex;
    /* text-align: center; */
    width: auto;
    height: auto;
    align-items: center;
    gap: 2rem;
  }
  .card{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: auto;
    justify-content:center ;
    align-items: center;  
    
  }
.Card-Content{
  align-items: center;
  text-align: center;
  display: flex;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}

}